HOST_DATA_ROOT_DEV=./docker-data/prod

# Root directory for shared services like Ollama.
SHARED_DATA_ROOT=./docker-data/shared

BACKEND_DATA_PATH_DEV=${HOST_DATA_ROOT_DEV}/backend/data
BACKEND_LOGS_PATH_DEV=${HOST_DATA_ROOT_DEV}/backend/logs